{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>Actually, this is just a place for my stuff, ya know?</h2>
			</div>
		</div>
	</div>
	<!--div class="ui stackable middle very relaxed page grid"-->
	<blockquote>
	That's all; a little place for my stuff. That's all I want, that's all you need in life, is a little place for your stuff, ya know? I can see it on your table, everybody's got a little place for their stuff. This is my stuff, that's your stuff, that'll be his stuff over there.
	That's all you need in life, a little place for your stuff. That's all your house is- a place to keep your stuff. If you didn't have so much stuff, you wouldn't need a house. You could just walk around all the time. A house is just a pile of stuff with a cover on it. You can see that when you're taking off in an airplane. You look down, you see everybody's got a little pile of stuff. All the little piles of stuff. And when you leave your house, you gotta lock it up. Wouldn't want somebody to come by and take some of your stuff. They always take the good stuff. They never bother with that crap you're saving. All they want is the shiny stuff. That's what your house is, a place to keep your stuff while you go out and get...more stuff! Sometimes you gotta move, gotta get a bigger house. Why? No room for your stuff anymore.

	Did you ever notice when you go to somebody else's house, you never quite feel a hundred percent at home? You know why? No room for your stuff. Somebody else's stuff is all over the goddamn place! And if you stay overnight, unexpectedly, they give you a little bedroom to sleep in. Bedroom they haven't used in about eleven years. Someone died in it, eleven years ago. And they haven't moved any of his stuff! Right next to the bed there's usually a dresser or a bureau of some kind, and there's no room for your stuff on it. Somebody else's shit is on the dresser. Have you noticed that their stuff is shit and your shit is stuff? God! And you say, "Get that shit off of there and let me put my stuff down!"

	Sometimes you leave your house to go on vacation. And you gotta take some of your stuff with you. Gotta take about two big suitcases full of stuff, when you go on vacation. You gotta take a smaller version of your house. It's the second version of your stuff. And you're gonna fly all the way to Honolulu. Gonna go across the continent, across half an ocean to Honolulu. You get down to the hotel room in Honolulu and you open up your suitcase and you put away all your stuff. "Here's a place here, put a little bit of stuff there, put some stuff here, put some stuff- you put your stuff there, I'll put some stuff- here's another place for stuff, look at this, I'll put some stuff here." And even though you're far away from home, you start to get used to it, you start to feel okay, because after all, you do have some of your stuff with you.

	That's when your friend calls up from Maui, and says, "Hey, why don'tcha come over to Maui for the weekend and spend a couple of nights over here." Oh, no! Now what do I pack? Right, you've gotta pack an even smaller version of your stuff. The third version of your house. Just enough stuff to take to Maui for a coupla days. You get over to Maui- I mean you're really getting extended now, when you think about it. You got stuff all the way back on the mainland, you got stuff on another island, you got stuff on this island. I mean, supply lines are getting longer and harder to maintain.

	You get over to your friend's house on Maui and he gives you a little place to sleep, a little bed right next to his windowsill or something. You put some of your stuff up there. You put your stuff up there. You got your Visine, you got your nail clippers, and you put everything up. It takes about an hour and a half, but after a while you finally feel okay, say, "All right, I got my nail clippers, I must be okay." That's when your friend says, "Aaaaay, I think tonight we'll go over the other side of the island, visit a pal of mine and maybe stay over." Aww, no. NOW what do you pack? Right- you gotta pack an even SMALLER version of your stuff. The fourth version of your house. Only the stuff you know you're gonna need. Money, keys, comb, wallet, lighter, hanky, pen, smokes, rubber and change. Well, only the stuff you HOPE you're gonna need.   --
</blockquote>
<!--/div-->

</div>
{{template "base/footer" .}}
