[submodule "docs/edge-server-configuration"]
	path = docs/edge-server-configuration
	url = git@github.com:feurig/edge-server-configuration.git
[submodule "docs/gitea-configuration"]
	path = docs/gitea-configuration
	url = git@github.com:feurig/gitea-configuration.git
[submodule "docs/buildnotes/redmine-configuration"]
	path = docs/buildnotes/redmine-configuration
	url = git@github.com:feurig/redmine-configuration.git
[submodule "docs/buildnotes/edge-server-configuration"]
	path = docs/buildnotes/edge-server-configuration
	url = git@github.com:feurig/edge-server-configuration.git
[submodule "docs/buildnotes/ansible"]
	path = docs/buildnotes/ansible
	url = git@bitbucket.org:suspectdevicesadmin/ansible.git
[submodule "docs/buildnotes/config"]
	path = docs/buildnotes/lede-config
	url = git@bitbucket.org:houselan/config.git
